.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Page{
  display: flex;
 	background-color: #E6E9ED;
  flex-direction: column;
 height:100vh;
}

.Content{
    display: flex;
   	 overflow: hidden;

}

.TopMenu{
 	background-color: #4A89DC;
  height: 40px;
  margin : 5px;
  font-size: 1.3em;
}

.TopMenu nav {
	display: flex;
	margin-right: -15px;
}

.TopMenu nav li {
  list-style-type:none;
	margin: 5px 15px;
}

.MainContent{
	display: flex;
  flex-direction : column;
  justify-content: flex-start;
  align-content: flex-start;
    flex-basis: 80%;
    margin-left : 20px;
}
.Search{
   	background-color: #F5F7FA;
    height: 70px;
    margin: 20px;
    width : 100%;
}

.Search form {
	display: flex;
	align-items: center ;
	justify-content: flex-start;
  padding-left : 10px;

}

.Search form input {
    margin: 15px;

	font-size: 18px;
	color: #555;
  flex : 10;
	height : 40px;
}


.Graphs{
	display: flex;
  flex-direction : column;
  width : 100%;
  margin-left : 20px;

}

.GraphDisplay{
  	display: flex;
  flex-direction : column;
  margin : 10px 20px;


}
.Graph{

  width : 100%;

}
.Comment{

	display : flex;
  flex-direction : column;
	align-items : stretch;
    margin-left: 15px;

	
}

.CommentDiplay{
	display : flex;
  flex-direction : column;
		align-items : flex-start;
			padding : 10px;		
}

.Line1{
		display : flex;
		flex-direction : row;

}
.Name{
	font-weight : bold;
}

.Time{
	 font-style: italic;
	 font-weight: lighter;
	 font-size : 0.8em;
}


.CommentInputArea{
	padding : 10px;


}

textarea {
    background-color:#ffffff;
		float : left;
}
input.CommentSubmit {
    background-color:#ffffff;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
		float : left;
}



.SidePanel{
    flex-basis: 20%;
		display : flex;
		flex-direction: column;
    margin : 10px;
}


.TopContentBox{	
	height : 100px;
	margin: auto;
  width: 80%;
  background-color:#ffffff;
  padding: 10px;
	margin-bottom: 15px;
	text-align: left;
}