body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  	font: normal 16px sans-serif;
	color: #555;
}

.Page{
  display: flex;
 	background-color: #3f51b5;
  flex-direction: column;
}

.Content{
    display: flex;
  	background-color: #555;

}

.TopMenu{
 	background-color: orange;
  height: 40px;
  margin : 5px;
  font-size: 1.3em;
}

.TopMenu nav {
	display: flex;
	margin-right: -15px;
}

.TopMenu nav li {
  list-style-type:none;
	margin: 5px 15px;
}

.MainContent{
   	background-color: blue;
    flex-basis: 80%;
}
.Search{
   	background-color: pink;
    height: 70px;
    margin: 15px;
}

.Search form {
	display: flex;
	align-items: center ;
	justify-content: flex-start;
  margin : 10px;

}

.Search form input {
    margin: 15px;

	font-size: 18px;
	color: #555;
  flex : 10;
	height : 40px;
}


.Graph{
   	background-color: #3BAFDA; 
		border : 1px solid red;
}



.Comment{

	display : flex;
  flex-direction : column;
	align-items : stretch;
    margin: 15px;

	
}

.CommentDiplay{
	display : flex;
  flex-direction : column;
		align-items : flex-start;
			padding : 10px;		
}

.Line1{
		display : flex;
		flex-direction : row;

}
.Name{
	font-weight : bold;
}

.Time{
	 font-style: italic;
	 font-weight: lighter;
	 font-size : 0.8em;
}


.CommentInputArea{
	padding : 10px;

	background-color: #FFCE54;	
}

textarea {
    background-color:#ffffff;
		float : left;
}
input.CommentSubmit {
    background-color:#ffffff;
    font-family:Arial;
    font-size:12pt;
    color:#000000;
		float : left;
}



.SidePanel{
   	background-color: pink;
    flex-basis: 20%;
		display : flex;
		flex-direction: column;
margin : 10px;
}


.TopContentBox{
	background-color:#ffffff;
	
	height : 70px;
	   margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
		margin-bottom: 15px;
		text-align: left;
}